<%- include("./partials/header.ejs") %>
<form class="form" method="POST" action="/profile">
  <h2 class="title">Search Player:</h2>
  <input name="gameName" class="search-input" placeholder="user" type="text">
  <input name="tagLine" class="search-input" placeholder="#tag" type="text">
  <button class="search-button" formaction="/profile" type="submit">Search</button>
</form>
<button class="menu-button"><span class="material-symbols-outlined">menu</span></button>
<hr />
<% if (locals.user) { %>
  <div class="player-statistics">
    <div class="flex-container">
      <img class="summoner-icon" src="https://ddragon.leagueoflegends.com/cdn/14.6.1/img/profileicon/<%= summoner.profileIconId %>.png" alt="summoner-image">
    </div>
    <div>
      <h3>Summoner Name: <%= user.gameName %>#<%= user["tagLine"] %></h3>
      <h3>Level: <%= summoner.summonerLevel %></h3>
      <hr />
      <h3>Ranked Solo:</h3>
      <h3>Wins: <%= rankedStatus[0].wins %> Loses: <%= rankedStatus[0].losses %></h3>
      <h3>Ratio: <%= Math.floor((rankedStatus[0].wins * 100) / (rankedStatus[0].wins + rankedStatus[0].losses)) %>%</h3>
      <img class="tier-img" src="./assets/images/tier/<%= rankedStatus[0].tier %>.png" alt="tier-image">
      <h3>Tier: <%= rankedStatus[0].tier %> <%= rankedStatus[0].rank %> <%= rankedStatus[0].leaguePoints %>LP</h3>
      <hr />
      <h3>Ranked Flex:</h3>
      <h3>Wins: <%= rankedStatus[1].wins %> Loses: <%= rankedStatus[1].losses %></h3>
      <h3>Ratio: <%= Math.floor((rankedStatus[1].wins * 100) / (rankedStatus[1].wins + rankedStatus[1].losses)) %>%</h3>
      <img class="tier-img" src="./assets/images/tier/<%= rankedStatus[1].tier %>.png" alt="tier-image">
      <h3>Tier: <%= rankedStatus[1].tier %> <%= rankedStatus[1].rank %> <%= rankedStatus[1].leaguePoints %>LP</h3>
    </div>
  </div>
<% } else { %>
  <h2>...</h2>
<% } %>
<div class="flex-container">
  <div class="match-history">
    <% if (locals.participants) { %>
      <% for (let i = 0; i < participants.length; i++) { %>
        <div id="<%= i %>" class="side-grid">
          <% for (let j = 0; j < participants[i].info.participants.length; j++) { %>
            <% if (user.puuid == participants[i].info.participants[j].puuid && participants[i].info.participants[j].win == true) { %>
              <% let wins = 0; %>
              <% wins++; %>
              <script>
                document.querySelector("[id='<%= i %>']").classList.add("win");
              </script>
            <% } else if (user.puuid == participants[i].info.participants[j].puuid && participants[i].info.participants[j].win == false) { %>
              <% let defeats = 0; %>
              <% defeats++; %>
              <script>
                document.querySelector("[id='<%= i %>']").classList.add("defeat");
              </script>
            <% } %>
            <% if (j % 2 == 0) { %>
              <div class="player-<%= j %>"><img class="champ-icon" src="./assets/images/champion/<%= participants[i].info.participants[j].championName %>.png" alt="champion-logo"> <%= participants[i].info.participants[j].summonerName %></div>
            <% } else { %>
              <div class="player-<%= j %>"><img class="champ-icon" src="./assets/images/champion/<%= participants[i].info.participants[j].championName %>.png" alt="champion-logo"> <%= participants[i].info.participants[j].summonerName %></div>
            <% } %>
          <% } %>
        </div>
      <% } %>
    <% } %>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="./src/index.js"></script>
</body>
